*{
    font-family:monospace;
}
body{
    margin:0;
    background-color: #f0f8ff;
    font-size: 15px;
}

header{
    height: 100vh;               
    background-color: #2196F3;
    color: white;
    display: flex;               
    flex-direction: column;      
    align-items: center;        
    justify-content: center;     
    text-align: center; 
}
header h1{
    color: white;
    margin: 0;
}
.button{
    
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    color:#2196F3;
}
.button:hover{
    color: white;
    background-color: blue;

}
img{
    height:200px;
}
main{
    padding: 20px;
}
section{
    height:100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 25px;
     display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    text-align: center;          
    padding: 40px; 
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.submit:hover{
    color: white;
    background-color:#2196F3;
}

input{
    border-radius: 5px;
    border: 1px sloid lightgrey;
    height: 25px;

}
.fixedButton{
    position: fixed;
    bottom:10px;
    right:10px;
    height:70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color:#2196F3 ;

}
footer{
   
    height: 150px;
    background-color: black;
    color: lightgrey;
    display: flex;
    flex-direction: column;       
    align-items: center;          
    justify-content: center;      
    gap: 10px;                    
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;                    
}

.social-icons a {
    color: white;
    font-size: 32px;
    transition: 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: #2196F3;
    transform: scale(1.2);
}
}
